<div class="col-10 offset-1 d-flex justify-content-between">
  <a [routerLink]="['/home']">Home</a>
  <p class="mx-2 d-inline-block">|</p>
  <a [routerLink]="['/burbank']">Burbank, CA</a>
  <p class="mx-2 d-inline-block">|</p>
  <a [routerLink]="['/chicago']">Chicago, IL</a>
  <p class="mx-2 d-inline-block">|</p>
  <a [routerLink]="['/dallas']">Dallas, TX</a>
  <p class="mx-2 d-inline-block">|</p>
  <a [routerLink]="['/washington']">Washington, DC</a>
  <p class="mx-2 d-inline-block">|</p>
  <a [routerLink]="['/san jose']">San Jose, CA</a>
  <p class="mx-2 d-inline-block">|</p>
  <a [routerLink]="['/seattle']">Seattle, WA</a>
</div>
<router-outlet></router-outlet>